*{

    padding: 0;
    margin: 0;
}

body{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   
}

#gridBlock{

    height: 80px;
    width: 80px;
    border: solid black 0.8px;
}



