*{

    padding: 0;
    margin: 0;
}

body{

    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   
}

h1 {
    text-align: center;
    margin: 20px;
  }
  
  .container {
    width: 65vh;
    height: 65vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
  }
  
  .pixel {
    width: 1fr;
    height: 1fr;
    border-style: solid;
    border-width: 2px;
  }
  
  .reset-button {
    display: block;
    max-width: 80px;
    margin: 10px auto;
  }
